*{
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
}

.nav div {
  margin-left: 20px;
}

.nav img {width: 45px; height: auto;}


.recipe-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px;
  margin-top: 40px;
}

.spinner {
width: 24px;
animation: loading infinite 3s linear;
}

.recipe-list a{
    text-decoration: none;
    color: black;
  }

.recipe-card {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  border-radius: 10px;
}


@keyframes loading{
from{
  transform: rotateZ(0deg);
}
to{
  transform: rotateZ(360deg);
}
}

